

<div class="main">
  <div class="picture">

  </div>

  <div class="form">


    <div class="content">

      <p>Welcome to Later</p>

      <div class="subtitle">
        We make it easy for everyone to maximize
        their investment
      </div>



      <div class="buttons">

        <button type="submit"  mat-stroked-button class="signin twitter" >Twitter</button>
        <button type="submit"  mat-stroked-button class="signin google" (click)="tryGoogleLogin()" >Google</button>

      </div>
    </div>
  </div>
</div>
