:host {
  width: 320px;
  height: 80vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  border: solid black 3px;
  border-radius: 15px;
}

.addPost {
  width: 50%;
  background-color: white;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  margin: -15px auto 0;
}

.logo {
  width: 20px;
}


